* {
	box-sizing: border-box;
}

#home-img {
	position: relative;
	background: url("https://static.pexels.com/photos/259597/pexels-photo-259597.jpeg") no-repeat center center;
	background-size: cover;
	height: 55em;
}

.main-img {
	position: relative;
	background: url("https://previews.123rf.com/images/marincas_andrei/marincas_andrei1110/marincas_andrei111000262/10740538-under-construction-banner-Stock-Vector-construction.jpg") no-repeat center center;
	background-size: cover;
	height: 30em;
}

.body-area {
	margin: 3em 0;
}

.body-photo {
	margin: 0 auto;
	padding-bottom: 2em;
}

.atlantic-header {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
}

h1 {
	font-size: 50px;
	color: blue;
	margin-bottom: 0;
	padding-bottom: 0;
}

h2 {
	font-size: 35px;
	color: blue;
	margin-top: 0;
	padding-top: 0;
}

.atlantic-info {
	text-align: center;
	margin-bottom: 3em;
}

@media (max-width: 650px) {
	#main-img {
		position: relative;
		background: url("https://static.pexels.com/photos/259597/pexels-photo-259597.jpeg") no-repeat center center;
		background-size: cover;
		height: 20em;
	}
}

.footer {
	padding-top: 40px;
	padding-bottom: 30px;
	max-width: 100%;
	position: relative;
	display: block;
	background-color: #4286f4;
}

.border {
	border: 2px solid black;
}

.footer-1 {
	width: 30%;
	padding-left: 10%;
}

.footer-2 {
	width: 40%;
	padding-left: 8%;
}

.footer-3 {
	width: 30%;
	padding-left: 10%;
}
